@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.productFormRoot{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    font-family: "Poppins", sans-serif;
    user-select: none;
    
}

.productImageContainer{
    background-color: rgb(213, 213, 213);
    height: 50%;
    margin-bottom: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.faIcon{
    font-size: 120px;
    color: rgb(147, 147, 147);
}
.productInfoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.productTitle{
    font-size: 31px;
    font-weight: bold;
}

.productPrice{
    font-size: 21px;
}

.addToCardBtn{
    /* border: 1px solid gray; */
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    width: 60%;
    text-align: center;   
    cursor: pointer;
    transition: 0.3s all;

}

.addToCardBtn:hover{
    background-color: rgb(215, 0, 0);
}