.swiperRootContainer {
    width: 900px;
    height: 600px;
    overflow-x: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .swiperItemsContainer {
    margin-left: 9px;
    display: flex;
    height: 90%;
    width: max-content;
  }
  
  .swiperItem {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  
  .leftArrow,
  .RightArrow {
    position: absolute;
    background-color: white;
    top: 49%;
    padding: 20px;
    cursor: pointer;
    font-size: 26px;
    border-radius: 15px;
  }
  
  .leftArrow {
    left: -100px;
  }
  
  .RightArrow {
    right: -100px;
  }
  
  .swiperRootContainer::-webkit-scrollbar {
    display: none;
  }