.Header{
    display:flex;
  
    margin-top:50px ;
    margin-top: 40px;
    padding: 25px 50px 0px;
    }



.header_left{
display:flex;
flex-direction: column;
justify-content:space-between;
gap:30px;

}
.header_left img{

 width:614px;
 height: 225px;
}
.header_left p{

    width:550px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
   line-height: 27.32px;
  
    color:#81AFDD;


}
.header_left input{

    width:456px;
    height: 73px;
    border-radius: 5px;
    border: 2px solid  rgba(61, 97, 132, 1);
    background: rgba(61, 97, 132, 1);
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    font-family: Manrope;
   font-size: 20px;
   font-weight: 400;
line-height: 27.32px;
text-align: left;
outline: none;
}
.header_left button{
padding:20px; 
min-width: 114px;
min-height: 70px;
background:rgba(255, 72, 32, 1);
font-family: Manrope;
font-size: 20px;
font-weight: 700;
line-height: 27.32px;
text-align: left;
color:aliceblue;
}
.people{
 display:flex;
gap:5px;
 align-items: center;
    }
    .people img{

       width:181.79px;
       height:38px;
    }
   .people p{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    line-height: 37.61px;

   }
   .header_right{
    margin-right:200px;
    justify-content: flex-start;
   }
.header_right img{
    width:667px;
    height:701px;
}