.blog_area{

   
 padding: 25px 50px 0px;
 display:flex;
 flex-direction: column;
 gap:25px;
}
.blog_header{
    min-width: 701px;
}
.blog_header h1 {
   
    font-family: Manrope;
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: left;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.blog_part_1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    background:rgba(4, 44, 84, 1)
   
}
.blog_main{
    display:flex;
    flex-direction:row;
}
.part_one_image img{

  width:417.03px;
  height:287.73px;
}
.part_one_content{
    padding:25px;
  
}

.part_one_content p{
    color: rgba(255, 255, 255, 1);

}
.part_one_content h2{
    width:380.03px ;
    color: rgba(255, 255, 255, 1);

}
.part_one_more{
    padding:25px;
    margin-top: 50px;
}

.part_one_more{
    color: rgba(255, 255, 255, 1);

}

.blog_part_2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    gap:40px;
    margin-left: 30px;
}
.part_2_image img{
 width: 327.34px;

}

.part_2_content h2{
    width:260.23px;
    color: rgba(255, 255, 255, 1);

}

.blog_part_two_1{

    background:rgba(4, 44, 84, 1);
}
.part_2_content{
    padding:20px;
}

.part_2_content p{
    font-family: Manrope;
    font-size: 11.65px;
    font-weight: 700;
    line-height: 34.95px;
    text-align: left;
    color:rgba(255, 255, 255, 1);


}
.part_two_more{
    padding: 20px;
}