@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    
    body{
        background: #040C18;
    
    }
    a{
        color:unset;
        text-decoration:none;
    }

    .linear_background{
        background: rgb(45,84,126);
        background: linear-gradient(90deg, rgba(45,84,126,1) 28%, rgba(0,40,83,1) 41%);
    }